# dependencies
node_modules/

# Next.js
.next/
out/
tsconfig.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor state
.DS_Store
Thumbs.db
.obsidian/
